.visited-content-wrapper{
    margin-bottom: 25px;
}

.visited-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
}

@media screen and (min-width: 650px) {
    .visited-content{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1250px) {
    .visited-content{
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 35px;
    }
}

@media screen and (min-width: 1750px) {
    .visited-content{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 50px;
    }
}
