:root{
    --card-width: 213.88px;
    --card-height: 333.33px;
}

.books-read-wrapper{
    margin-bottom: 25px;
}

.books-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
}

.books-card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-card{
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 12px;
    overflow: hidden;
    transition: var(--transition);
    cursor: pointer;
    perspective: 500px;
    box-shadow: 0 3px 8px var(--transparent_dark);
}

.book-card:hover{
    transform: rotate(-90deg);
    z-index: 99999
}

.book-card:hover .front-face{
    transform: scale(2) rotate(90deg);
}

.book-card:hover .back-face{
    opacity: 1;
}

.book-card .front-face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: var(--transition);
    border-radius: 12px;
    transform: rotate(0);
}

.book-card .front-face img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 12px
}

.book-card .back-face{
    position: absolute;
    top: 0;
    left: 100%;
    padding: 10px 15px;
    width: var(--card-height);
    height: var(--card-width);
    background-color: rgba(0, 0, 0, .8);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    opacity: 0;
    border-radius: 12px;
    color: white;
}

@media screen and (min-width: 475px) {
    .books-content{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    .books-content{
        grid-template-columns: 1fr 1fr 1fr;
    }
}